#include "resource.h"

IDI_ICON ICON DISCARDABLE "icon.ico"
IDI_DOC_ICON ICON DISCARDABLE "document.ico"
IDI_TPTMP LUASCRIPT "../src/luascripts/multiplayer.lua"
IDI_SCRIPTMANAGER LUASCRIPT "../src/luascripts/scriptmanager.lua"
IDI_EVENTCOMPAT LUASCRIPT "../src/luascripts/eventcompat.lua"
